@charset "UTF-8";

body {
   background-color: white;
}

header {
     background-color:black;
}

main {
   
  background-color: black;
  
}

#menu {
   color: red;
   align-items:center ;
   text-align: center;
   padding-top: 14px;
}


h2, p{
   align-items: center;
   color: white ;
}
nav {
   background-color: lightgrey;
   text-align: center;
}

a{
   margin-right: 14px;
   color: black;
   text-decoration: none;
   
}

nav > a:hover{
   text-decoration: underline;
   font-weight: bold;
   
}

