@charset "utf-8";

table {
    font-family: sans-serif;
    width: 60vw;
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
}

td,th,caption {
    border: 0.5px solid black;
    text-align: center;
    padding: 3px 10px;
}