@charset "utf-8";

/* ESTILO TELA */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family:sans-serif ;
}

header{
    background-color: gray;
    padding: 20px 0 10px 1px;
}

header h1 {
    text-align: center;
}
header li {
    display: inline;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px;
}